 .contenedor {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 0vh;
        }

.imagen-diseño { 
        text-align: center;
        position: relative;
        width: 250px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        background: #fbfbfb;
        }
       
        .imagen-diseño:hover {
            transform: scale(1.05); 
            box-shadow: 0 8px 16px rgba(180, 41, 41, 0.4);
            text-align: center;
        }
.Boton-redireccionar {
    display: inline-block;
    padding: 14px 30px;
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .Boton-redireccionar:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #06b6d4, #4f46e5);
}
.texto {
            display: flex;
            justify-content: left;
            align-items: none;
            min-height: 0vh;
        }
.texto-2 {
      display: flex;
            justify-content: center;
            align-items: center;
            min-height: 0vh;
}
.parrafo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: right;
}

.parrafo p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.parrafo a {
  display: block;
  margin-top: 5px;
  color: #ffd700;
  text-decoration: none;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; 
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}
.centrado {
            text-align: center; 
}